body {
  color: #5d5d5d;
}

div.content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

div.menu {
  text-align: center;
  word-spacing: 3px;
  vertical-align: middle;
}

h1 {
  text-align: center;
}

h2.postPreview {
  margin-bottom: 5px;
}

a:link, a:visited, button {
  color: #5d5d5d;
  transition: color .3s;
}

a:hover, button:hover {
  color: #9f9f9f;
  transition: color .3s;
}

button, .comment a {
  cursor: pointer;
}

.comment {
  -webkit-transition: outline 1s ease-out;
 -moz-transition: outline 1s ease-out;
 -o-transition: outline 1s ease-out;
 -ms-transition: outline 1s ease-out;
 transition: outline 1s ease-out;
 outline: 1px solid #ffffff;
}

.menu a:link, .menu a:visited, .postPreview a:link, .postPreview a:visited, .footerText a:link, .footerText a:visited, .menu a:hover, .postPreview a:hover, .footerText a:hover {
	text-decoration: none;
}

.navButton a:link, .navButton a:visited, .navButton a:hover{
  text-decoration: underline;
}

.postPreview a {
  font-size:18px;
}

.postPreviewImageContainer {
  height: 100px;
}

.postPreviewFeaturedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu a {
  font-size: 25px;
}

div.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 25px;
}

div.main, .commentText {
  font-size: 17px;
}

.footerText {
  font-size: 12px;
}

#replyText {
  margin-top: 5px;
}

hr {
    border: 0;
    height: 2px;
    margin: 18px 0;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.75) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.75)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

hr:before {
    content: "";
    display: block;
    border-top: solid 1px #f9f9f9;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

input {
  width: 600px;
}

textarea {
  width: 600px;
  resize: vertical;
}

button {
  padding: 0;
  border: none;
  background: none;
  margin-top: 5px;
  text-decoration: underline;
}
